.container {
    width: 70.5rem;
    height: 60.5rem;

    background-color: #ffff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    @media (max-width: 59.35em) {
       width: 30rem;
       height: 100rem;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;

       position: absolute;
       top: 60%;
       left: 50%;
       transform: translate(-50%,-50%);
    }
}