
@font-face {
  font-family: lato;
  src: url('./Fonts/Lato-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  font-size: 62.5%;
}
code {
  font-family: lato
}
